.navbar {
    // background-color: #777777 !important;
    background-color: #b43c3c !important;
    min-height: 50px;
    margin-bottom: 40px;
    border-radius: 0px;
}

.navbar-brand :hover {
    background-color: lightgrey;
}

.navbar-default .navbar-brand:hover {
    color: #dd5622;
    background-color: #e4e4e4;
    cursor: pointer;
}

.navbar-default {
    border-color: #00000000;
}

.header-name {
    color: #fcaf43;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    font-size: 28px;
    padding: 14px 12px 0px 12px;
    border-radius: 29px;
    background-color: white;
}

.nav-link {
    color: white !important;
}

.nav-link :hover {
    color: white;
    background: #454545;
}

.navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
    border: 1px solid #b43c3c !important;
}

.active, .active>a, .navbar-nav>li>active {
    background: white !important;
    color: #dd5622 !important;
}

.active, .active>a :hover {
    background: white;
    color: #dd5622;
}

.navbar-nav>li :hover {
    background: white;
    color: #dd5622;
}