<div class="footer1">
  <div class="container">
    <div class="row">
      <!-- row -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <!-- widgets column left -->
        <ul class="list-unstyled clear-margins">
          <!-- widgets -->
          <li class="widget-container widget_nav_menu">
            <!-- widgets list -->
            <h1 class="title-widget">Useful links</h1>
            <ul>
              <li><a routerLink="/about" class="footer-link"><i class="fa fa-chevron-right"></i> About Me</a>
              </li>
              <li><a routerLink="/contact" class="footer-link"><i class="fa fa-chevron-right "></i> Contact
                  Me</a></li>
              <li style="display: none;"><a class="footer-link"><i class="fa fa-chevron-right"></i> Success Stories</a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- widgets column left end -->

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <!-- widgets column left -->
        <ul class="list-unstyled clear-margins">
          <!-- widgets -->
          <li class="widget-container widget_nav_menu">
            <!-- widgets list -->
            <h1 class="title-widget">My Work</h1>
            <ul>
              <li><a href="#" class="footer-link"><i class="fa fa-chevron-right"></i> Gallery Location </a></li>
              <li><a href="#" class="footer-link"><i class="fa fa-chevron-right"></i> Making </a></li>
            </ul>
          </li>
        </ul>
      </div><!-- widgets column left end -->

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <!-- widgets column left -->

        <ul class="list-unstyled clear-margins">
          <!-- widgets -->
          <li class="widget-container widget_recent_news">
            <!-- widgets list -->
            <h1 class="title-widget">Contact Details </h1>
            <div class="footerp"
              style="color:white; font-size: 12px; font-family: 'Kaushan Script', cursive; line-height: 3px;">
              <i class="fa fa-at"></i>
              <span> {{ adminMailId }} teja.maridu@gmail.com </span>
              <br /><br />
              <i class="fa fa-phone"></i>
              <span style="font-family: -webkit-pictograph;"> +91-9999999999 </span>
              (10AM to 7PM)
            </div>
          </li>
        </ul>


      </div><!-- widgets column left end -->

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <!-- widgets column center -->
        <ul class="list-unstyled clear-margins">
          <!-- widgets -->
          <li class="widget-container widget_recent_news">
            <!-- widgets list -->
            <h1 class="title-widget"> Social Media </h1>
            <div style="margin-top: -10px;">
              <ul class="nomargin">
                <a href="https://www.facebook.com/moshe.dayan.357" target="_blank">
                  <i class="fa fa-facebook-square fa-2x social-icon"></i>
                </a>
                <a href="https://twitter.com/bootsnipp">
                  <i class="fa fa-twitter-square fa-2x social-icon"></i>
                </a>
                <a href="https://plus.google.com/+Bootsnipp-page" style="display: none;">
                  <i class="fa fa-envelope fa-2x social-icon"></i>
                </a>
                <a href="{{ gmailLink }}" target="_blank">
                  <i class="fa fa-envelope fa-2x social-icon"></i>
                </a>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--header-->

<div class="footer-bottom" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          © 2017, All rights reserved
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
          <a target="_blank" href="">Web Design &amp; Development by Teja Maridu</a>
        </div>
      </div>
    </div>
  </div>
</div>