<app-header></app-header>

<div class="container">
  <div id="artsGrp" *ngIf="selectedArt.imageUrl">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <img id="artImg1" src="{{ selectedArt.imageUrl }}" class="img-responsive hidden-xs center art-img" />
        <img id="artImg2" src="{{ selectedArt.imageUrl }}" class="img-responsive visible-xs center art-img" />
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <table class="table">
          <tbody>
            <tr>
              <td class="product-info-label">Title</td>
              <td class="product-info">{{ selectedArt.title }}</td>
            </tr>
            <tr>
              <td class="product-info-label">Length / Width / Height</td>
              <td class="product-info">{{ selectedArt.length }} / {{ selectedArt.width}} / {{ selectedArt.height }}</td>
            </tr>
            <tr>
              <td class="product-info-label">Medium</td>
              <td class="product-info">{{ selectedArt.medium }}</td>
            </tr>
            <tr>
              <td class="product-info-label">Price</td>
              <td class="product-info">{{ selectedArt.price }}</td>
            </tr>
            <tr>
              <td class="product-info-label">Copy Price</td>
              <td class="product-info">{{ selectedArt.price }}</td>
            </tr>
            <tr>
              <td class="product-info-label">Price</td>
              <td class="product-info">{{ selectedArt.price }}</td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="false" class="jumbotron">
          <select [(ngModel)]="artType" class="form-control">
            <option> Orginal </option>
            <option> Copy </option>
          </select>

          <br />

          <button type="button" (click)="addToCart(selectedArt)" class="btn btn-success" style="margin-right: 10px;">
            Add to cart
          </button>
          <button type="button" (click)="buyProduct(selectedArt)" class="btn btn-primary">
            Buy now
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="line-height: 1.4;">
        <br>
        <p style="font-size: 14px;"> <strong> About Art </strong> </p>
        <p> {{ selectedArt.shortDescreption }} </p>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 50px;"></div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" (click)="openArtModel()">
  Launch demo modal
</button>

<!-- Modal -->
<div id="myModal" class="modal fade" #myModal >
  <div class="modal-dialog" role="document" style="width: 100%; height: 80%;">
    <div class="modal-content">
      <div class="modal-header" *ngIf="false">
        <span> Header </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <img src="/assets/images/art-categories/1.jpg" style="height: 80%;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>