<app-header></app-header>

<div class="container">

  <div class="centerDiv">
    <span class="category-label-bg" style="text-align: center;"> {{ selectedCategory.name }} </span>
  </div>

  <br/><br/>

  <div id="artsGrp" *ngIf="arts">
    <div class="row">
      <div *ngFor="let art of arts">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <a (click)="gotoArtDetails(art)" class="catagory-img">
            <img [src]="art.imageUrl" style="max-height: 180px; margin-right: 50px;" class="img-responsive hidden-xs"
              *ngIf="art.imageUrl" />
            <img [src]="art.imageUrl" style="margin-right: 50px;" class="img-responsive visible-xs"
              *ngIf="art.imageUrl" />
            <img src="assets/images/empty-art.png" height="80" *ngIf="!art.imageUrl" title="3" />
          </a>

          <span class="art-label centerDiv"> {{ art.title }} </span>

          <div style="margin-bottom: 30px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>