.category-label-bg {
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    z-index: 200;
    padding: 0px 14px 3px 10px;
    border-radius: 29px;
    background-color: orange;
    margin-bottom: 20px;
}

.art-label {
    font-size: 20px;
    color: #ffffff !important;
    // font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

.catagory-img {
    cursor: pointer;
}

.catagory-img :hover {
    border: 1px solid white;
}