<app-header></app-header>

<div class="container">

  <img src="assets/images/sita.jpg" class="img-responsive center" style="height: 200px; width: auto;">

  <div class="centerDiv" style="margin-bottom: 70px;">
    <span style="color: white; font-size: 50px; font-family: 'Kaushan Script', cursive;"> Art Gallery </span>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngFor="let cat of artCategories">
      <div class="grid-image">
        <a (click)="showCategoryArts(cat)" class="catagory-img">
          <img [src]="cat.imageUrl" class="grid-img-1 img-responsive hidden-xs" />
          <img [src]="cat.imageUrl" class="grid-img-2 img-responsive visible-xs" />
        </a>
        <span class="category-label centerDiv"> {{ cat.name }} </span>
        <div style="margin-bottom: 30px;"></div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>