<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-12">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row" *ngFor="let item of cartItemsMap.values()">
            <div class="col-xs-2">
              <img src="http://placehold.it/150x80" class="img-responsive" *ngIf="!item.product.imageUrl" />
              <img [src]="item.product.imageUrl" class="img-responsive" *ngIf="item.product.imageUrl"
                style="padding: 4px;" />
            </div>
            <div class="col-xs-6">
              <h4 class="product-name"><strong> {{ item.product.title }} </strong></h4>
              <h5>
                <span style="font-size: 10px; white-space: nowrap; color: orangered;">
                  {{ item.isOrginal ? 'Original' : 'Copy' }}
                </span>
                <br>
                <small> {{ item.product.shortDescreption }} </small>
              </h5>
            </div>
            <div class="col-xs-4">
              <div class="col-xs-3">
                <input type="text" class="form-control input-sm" [(ngModel)]="item.qty" style="text-align: center;"
                  (input)="updateQty(item, $event.target.value)" [disabled]="item.isOrginal">
              </div>
              <div class="col-xs-5" style="text-align: center;">
                <h6>
                  <strong> {{ item.isOrginal ? item.product.price : item.product.copyPrice }} x {{ item.qty }} </strong>
                </h6>
                <h5 style="color:brown; ">
                  <i class="fa fa-inr rupee"></i>
                  <strong>
                    {{ item.isOrginal ? item.product.price * item.qty : item.product.copyPrice * item.qty }}
                  </strong>
                </h5>
              </div>
              <div class="col-xs-4">
                <button class="btn btn-sm btn-danger" (click)="removeCartItem(item)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
            <hr>
          </div>

          <div class="panel-footer">
            <div class="row text-center">
              <div class="col-xs-2">
                <button type="button" class="btn btn-warning btn-block" routerLink="/gallery">
                  Continue Shopping
                </button>
              </div>
              <div class="col-xs-7">
                <h4 class="text-right">Total <strong> <i class="fa fa-inr rupee"></i> {{ grandTotal }} </strong>
                </h4>
              </div>
              <div class="col-xs-3">
                <button type="button" class="btn btn-success btn-block" routerLink="/deliveryDetails">
                  Checkout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>