 
<p class="text-center h2 header-text mt-4"> FEATURED ARTWORKS </p>

<div class="container px-4 px-lg-5 mt-4">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="col mb-5" *ngIf="false"> <!-- *ngFor="let img of images" -->
      <div class="card h-100">
        <!-- Product image-->
        <!-- <img class="card-img-top" [src]="img" alt="..." /> -->
        <!-- Product details-->
        <div class="card-body p-2">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">Fancy Product</h5>
            <!-- Product price-->
            $40.00 - $80.00
          </div>
        </div>
      </div>
    </div>

    <div class="col mb-5" *ngFor="let art of arts">
      <div class="card h-100 pointer" (click)="selectArt(art)">
        <!-- Product image-->
        <!-- <p-image [src]="'data:image/png;base64, ' +art.image" alt="Image" [preview]="true" class="card-img-top"> </p-image>  -->
        <img class="card-img-top" style="max-height: 300px;" [src]="'data:image/png;base64, ' +art.image" alt="..." />
        <!-- Product details-->
        <div class="card-body p-2">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">{{art.title}}</h5>
            <!-- Product price-->
            {{art.copyPrice}} - {{art.price}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>