<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-7 col-xl-7">
            <div class="card text-black mt-5 mb-5" style="border-radius: 25px;">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-12 col-xl-12 d-flex align-items-center">
                        <img src="assets/images/login.jpg" class="mx-auto d-block img-fluid" style="height: 250px;">
                    </div>

                    <div class="col-md-12 col-lg-12 col-xl-12 order-2">
                        <p class="text-center h2 fw-bold member-header-text mb-4" style="background-color: #4065bf;">
                            Login</p>
                        <form class="mx-1 mx-md-4 ">
                            <div class="row align-items-center mb-3">
                                <div class="col-12">
                                    <label for="email" class="col-form-label label-b">Email</label>
                                    <input type="text" id="email" class="form-control">
                                </div>
                            </div>

                            <div class="row align-items-center mb-3">
                                <div class="col-12">
                                    <label for="password" class="col-form-label label-b">Password</label>
                                    <input type="password" id="password" class="form-control">
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="button" class="btn btn-primary btn-lg">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>