/* You can add global styles to this file, and also import other style files */

.centerDiv {
    display: block;
    text-align: -webkit-center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

html,
body {
    height: 100% !important;
    background: #333;
    color: white;
}

/* width */

::-webkit-scrollbar {
    width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #c5c5c5;
    height: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    height: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}