<div class="container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-xl-4 col-lg-5 col-md-12 col-xs-12">
            <img src="assets/images/contact us.jpg" class="mx-auto d-block img-fluid" style="width: 100%;">
        </div>

        <div class="col-xl-5 col-lg-5 col-md-12 col-xs-12">
            <div class="card text-black mb-2">
                <p class="text-center h2 header-text mb-4"> Reach Me Here </p>
                <form class="mx-1 mx-md-4 ">
                    <div class="row align-items-center mb-3">
                        <div class="col-12">
                            <label for="name" class="col-form-label label-b">Name</label>
                            <input type="text" id="name" class="form-control">
                        </div>

                        <div class="col-12">
                            <label for="email" class="col-form-label label-b">Email</label>
                            <input type="text" id="email" class="form-control">
                        </div>

                        <div class="col-12">
                            <label for="mobile" class="col-form-label label-b">Mobile</label>
                            <input type="text" id="mobile" class="form-control">
                        </div>

                        <div class="col-12">
                            <label for="message" class="col-form-label label-b">Message</label>
                            <textarea type="text" id="message" class="form-control no-resize" rows="6"></textarea>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="button" class="btn btn-warning btn-lg">Send Message</button>
                    </div>
                </form>
            </div>


        </div>

        <div class="col-xl-3 col-lg-3">
            <div class="card text-black text-center mt-5 mb-5" style="border-radius: 25px;">
                <div class="card-header mb-3 fs-4">
                    <b class="contact-details-header fs-4">Contact Details</b>
                </div>
                <p> <strong><i class="bi bi-pin-map-fill contact-details-icon"></i> Studio Address</strong><br />
                    4-2-210/G, Ashok nager, P &amp; T Colony, Ashok Nagar,
                    Himayatnagar, Hyderabad, Telangana.
                </p>
                <p><strong><i class="bi bi-telephone-fill contact-details-icon"></i> Phone Number</strong><br />
                    (+91) 7396876461
                </p>
                <p>
                    <strong><i class="bi bi-envelope contact-details-icon"></i> Email Address</strong><br />
                    {{ emailAddress}}
                </p>
            </div>
        </div>
    </div>
</div>