.panel-look {
    color: black;
    text-decoration: none;
    min-height: 160px;
    cursor: pointer;
    border: 1px solid darkgrey;
    cursor: pointer;
    background-color: #f3f3f3;
}

.active {
    color: white;
    /*                font-weight: bold;*/
    background: #00bcd4 !important;
}

.hover-effect {
    font-weight: normal;
}

.hover-effect:hover {
    font-weight: normal;
    background: lavender;
}

.add-link {
    font-weight: bold;
    color: black;
    right: -4px;
    bottom: 4px;
    position: relative;
    color: #0a95cd;
}