<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
      <span style="font-size: 25px;"> Select Address </span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3" *ngFor="let addr of addresses">
      <div class="panel panel-default hover-effect panel-look" (click)="selectAddress(addr)"
        [ngClass]="{'active' : (selectedAddress.oid == addr.oid)}">
        <div class="panel-body ">
          <span [ngStyle]="{'font-weight':'bold'}">
            <!-- 'color': selectedAddress.oid == addr.oid ? 'white' : '#0095cc' -->
            {{ addr.name }}
          </span>
          <br>
          <span> {{ addr.address }} </span>
          <br>
          <span> {{ addr.address2 }} </span>
          <br>
          <span> {{ addr.city }}, {{ addr.state }}, {{ addr.country }}, {{ addr.pincode }} </span>
          <br>
          <span>Contact No : {{ addr.phoneNo }} </span>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">
      <div class="panel panel-default hover-effect panel-look" (click)="addNewAddress()">
        <div class="panel-body" style="padding: 15px;">
          <i style="margin-left: 6px; color: #0a95cd;" class="fa fa-plus-circle fa-2x"></i>
          <a class="add-link">
            Add Address
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="gotoOrderOverview()"> Select Address </button>
    </div>
  </div>
</div>

<app-footer></app-footer>